@charset "UTF-8";

body{
		max-width: 85%;
		margin: auto;
}

body>h1{
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
	padding-bottom: 5px;
	max-width: 70%;
}

.subtitle{
	margin-top: -15px;
	text-align: center;
	font-family: sans-serif;
	max-width: 70%;
}

.formatFrame{
	height: 4em;
	margin: 0.3em;
}

.legend{
	position : absolute;
	margin-top: 3em;
	margin-left: 10em;
	border: groove; 2em; 
	border-color: 555;
  	background-color: Aquamarine;
	width: 170px;
	
}

table{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
}

th{
	text-align: left;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
	
.infobox{
	position: relative;
	width: 300px;
	margin-left: 350px;
	margin-top: 20px;
}

.filterbox{
	position: relative;
	width: 300px;
	margin-left: 750px;
}


.infoArrow{
	height: 1.4em;
	position:absolute;
	z-index: 70;
	background-color: white;
	color: black;
	padding: 3px; 
	max-width: 100%;
	margin-top: 45px;
  	border-radius: 5px;
	width: 100%;
	font-size: 0.9em;
}

.infoArrow p{
	margin: 0px;
	font-family: sans-serif;
	padding: 3px; 
}

.infoArrowMimetype{
	height: 3em;
	position:absolute;
	z-index: 70;
	background-color: white;
	color: black;
	padding: 3px; 
	margin-top: 100px;
	max-width: 100%;
  	border-radius: 5px;
	width: 100%;
	font-size: 0.9em;
}

.infoArrowMimetype p{
	margin: 0px;
	font-family: sans-serif;
	padding: 3px; 
}

.infoArrowStages{
	height: 3em;
	position:absolute;
	z-index: 70;
	background-color: white;
	color: black;
	padding: 3px; 
	margin-top: 170px;
	max-width: 100%;
  	border-radius: 5px;
	width: 100%;
	font-size: 0.9em;
}

.infoArrowStages p{
	margin: 0px;
	font-family: sans-serif;
	padding: 3px; 
}

.focussedElement .pronom{
	font-family: sans-serif;
	font-size: 1.4em;
	margin-left: 2px;	
	margin-top: 2px;
	margin-bottom: 30px;
	text-decoration: none;	
	}

.focussedElement a{
	text-decoration: none;
	color: inherit;	
	}

.focussedElement h1{
	font-family: sans-serif;
	font-size: 3em;
	text-align: center;

	}
.focussedElement .application{
	font-family: sans-serif;
	font-size: 1.4em;
	margin-bottom: 30px;	
	text-align: center;
	}
.focussedElement .stage{
	font-family: sans-serif;
	font-size: 1.4em;
	margin-left: 2px;	
	margin-bottom: 2px;
	}

div h1{
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: center;
	padding: 0px;
}

.formattip .tiptext{
	z-index: 30;
	position:	absolute;
	visibility: hidden;
	opacity: 0;
  	transition: opacity 1s;
  	width: 100px;
  	background-color: #555;
  	color: #fff;
  	text-align: center;
  	padding: 8px;
  	border-radius: 3px;
    font-family: sans-serif;
	font-weight: bold;
	margin-left: -15px; 
}

.formattip:hover .tiptext{
	position: absolute;
	display: block;
	visibility: visible;
    opacity: 1;
	
}


.periodicTable{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flexCol{
	display: flex;
  	flex-direction: column;
  	flex-wrap: nowrap;
}

.element{
	float:left;
	padding: 10px;
	margin: 5px;
	min-width: 5%;
	border: groove; 2em;
	border-color: #dddddd;
	height: 70px;
	
}
.element:hover{
	float:left;
	padding: 17px;
	margin: -2px;
	min-width: 5%;
	border: groove; 2em;
	border-color: #dddddd;
	border-radius: 5;
	box-shadow: 10px 10px 15px #888888;
	transform: 5s
}

div.pronom{
	font-family: sans-serif;
	font-size: .8em;
	margin-left: -8px;	
	margin-top: -20px;
	margin-bottom: 20px;	
}
div.pronom a{
	text-decoration: none;
	color: inherit;
}

div.stage{
	font-family: sans;
	font-size: .8em;
	margin-left: -8px;	
	margin-bottom: -16px;
	margin-top: 20px;	
}

.inner{
	line-height: 0.1px;
}

p.application{
	font-family: sans;
	font-size: .8em;
	margin: 0px;
	padding: 2px;
	text-align: center;	
	
}

.noElem{
	border: solid; 2px;
	border-color: #fff;
	visibility: hidden;
}
.noElem:hover{
	border: solid; 2px;
	border-color: #fff;
	box-shadow: 0px 0px 0px #fff;
	visibility: hidden;
}

.text{
	background-color: DarkGreen;
	color: #ddd;
}
.word{
	background-color: ForestGreen;
	color: #ddd;
}
.publishing{
	background-color: CadetBlue;
	color: #fff;
}
.presentation{
	background-color: CadetBlue;
	color: #fff;
}
.image{
	background-color: Aquamarine;
	color: #444;
}
.vector{
	background-color: Aquamarine;
	color: #444;
}
.audio{
	background-color: GoldenRod;
	color: #444;
}
.video{
	background-color: GoldenRod;
	color: #444;
}
.interactive{
	background-color: GoldenRod;
	color: #444;
}
.data{
	background-color: DodgerBlue;
	color: #fff;
}
.gps{
	background-color: CadetBlue;
	color: #fff;
}
.3d{
	background-color: CadetBlue;
	color: #fff;
}
.container{
	background-color: CadetBlue;
	color: #fff;
}

.filterbox button{
	border: groove;
  	color: black;
  	padding: 2px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 1em;
  	display: inline-block;
  	margin: 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
  	background-color: Gold;
	border-radius: 6px;
  	width: 100%;
}

.filterbox button.resetAll{
  	background-color: CadetBlue;
  	color: white;
} 


.footer{
	padding-top: 7em;
	position: absolute;
	width: 70%;
	clear:both;
	margin: auto;
	text-align: center;
	font-family: sans-serif;
	font-size: 0.8em;
}

